<!DOCTYPE html>
<html>
   
        

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display+swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>Mercado Liebre</title>
        
    </head>
    <body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/mercadoliebre.svg" class="logo">
            <form class="buscador-main" action="action_page.php">
                <input type="text" placeholder="Buscar productos, marcas" name="search">
                <button class= "botoni-buscador" type="submit"><i class="fa fa-search"></i></button>
              </form>
            <h2 class= "copy-header">
                
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
       
        <a href="#" class="button-navbar">
                <i class="fas fa-bars"></i>
        </a>
            
        <nav class="main-navbar">
            <ul class= "left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                
            </ul>

            <ul class= "right-navbar">
                <li><a href="/registro">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/loginformulario">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
       
        
    </header>
    <img src="/img/img-home-banner.jpg" class="banner">


    <p class='ultima-visita'>
        Basado en tus ultimas busquedas
    </p>
 
    <main class="header-main-div">
        
     
     <div class="cafePadre">
         
        <img src="/img/img-cafetera-moulinex.jpg" class="cafeterita">
        
        <div class="descripcionCafetera">
            <i id="auto" class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="nombreProducto">Cafetera Moulinex</p>
        </div>  
    </div>  
    <div class="displaynone1">
    <div class="cafePadre">
         
        <img src="/img/img-macbook-pro-2019.jpg" class="macbook">
        
        <div class="descripcionMac">
            <i id="auto" class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="nombreProducto">MacBook Pro 2019</p>
        </div>  
    </div>

    </div >
    <div class="displaynone2">
    <div class="cafePadre">
         
        <img src="/img/img-samsung-galaxy-s10.jpg" class="galaxy">
        
        <div class="descripcionGalaxy">
            <i id="auto" class="fas fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="nombreProducto">Telefono Samsung</p>
        </div>  
    </div>   

    </div >
    <div class="displaynone3">
    <div class="cafePadre">
         
        <img src="/img/img-tv-samsung-smart.jpg" class="smartv">
        
        <div class="descripcionTV">
            <i id="auto" class="fas fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="nombreProducto">Samsung 43"</p>
        </div>  
    </div>

    </div >
	  
   </main>
   <footer class="footercito">
<div class="padreFootercito">
    <div class="hijoFootercito">
    <i class="fas fa-credit-card" id="iconotarjeta"></i>
    <h1 class="titulofooter">Pagá con tarjeta o efectivo</h1>
    <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</div>
<div class="hijoFootercito">
    <i class="fas fa-gift" id="iconoregalo"></i>
    <h1 class="titulofooter">Envío gratis desde $ 2.500</h1>
    <p class="textofooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
</div>
<div class="hijoFootercito">
    <i class="fas fa-user-shield" id="iconoseguridad"></i>
    <h1 class="titulofooter">Seguridad, de principio a fin</h1>
    <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
</div>
    
</div>
</footer>
<h1 id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
</body>

</html>